:root {
    --gray: #333;
    --blue: royalblue;

    --standard-height: {
        height: 32px;
        line-height: 8px;
    }
}

.label {
    font-family: sans-serif;
    margin-bottom: 4px;
    display: inline-block;
}

.input {
    @apply --standard-height;
    padding: 0 8px;
    border: 1px solid var(--gray);
    font-family: sans-serif;
}

.button {
    @apply --standard-height;
    padding: 0 20px;
    font-size: 1.2em;
    border: 2px solid var(--gray);
    font-family: sans-serif;
    background-color: white;
    transition: border-color 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover {
    border-color: var(--blue);
}
